<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header bg-warning p-0">
                        <img src="https://cdn.pixabay.com/photo/2019/06/02/17/33/woman-4246954_1280.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;ทคโนโลยีสารสนเทศ 2024.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-white">
                            ระบบลงทะเบียนผู้ใช้งาน
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">
                        <form @submit.prevent>
                            <div class="mb-2">
                                <label for="" class="form-label">ชื่อ</label>
                                <input type="text" v-model="userForm.fname" class="form-control" placeholder="ชื่อผู้สมัคร"
                                    required>
                            </div>
                            <div class="mb-2">
                                <label for="" class="form-label">นามสกุล</label>
                                <input type="text" v-model="userForm.lname" class="form-control"
                                    placeholder="นามสกุลผู้สมัคร" required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label">อีเมลล์</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="อีเมลล์"
                                    required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label">รหัสผ่าน</label>
                                <input type="password" v-model="userForm.password" class="form-control"
                                    placeholder="รหัสผ่าน" required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label">ยืนยันรหัสผ่าน</label>
                                <input type="password" v-model="userForm.passwordConfirmation" class="form-control"
                                    placeholder="ยืนยันรหัสผ่าน" required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label">เบอร์โทรศัพท์</label>
                                <input type="text" v-model="userForm.phone" class="form-control" placeholder="เบอร์โทรศัพท์"
                                    required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label m-2">ที่อยู่</label>
                                <textarea v-model="userForm.address" cols="50" rows="2"></textarea>
                            </div>

                            <div class="mb-2">
                                <button type="submit" @click="submitForm" class="btn btn-primary btn-sm shadow">
                                    สมัครสมาชิก
                                </button>
                            </div>

                        </form>
                        </p>
                        <div class="mb-2">
                            <p class="text-body text-center">
                                Allready have an account?
                                <router-link :to="{ name: 'signin' }"
                                    class="text-decoration-none font-weight-bolder">Singin</router-link>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { reactive } from 'vue';

const userForm = reactive({
    fname: "",
    lname: "",
    email: "",
    password: "",
    passwordConfirmation: "",
    phone: "",
    address: "",
})

const submitForm = () => {
    alert('Success, from submitted')
}

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.form-label {
    font-family: 'Sarabun', sans-serif;
}

.btn {
    font-family: 'Sarabun', sans-serif;
}
</style>