<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header bg-warning p-0">
                        <img src="https://cdn.pixabay.com/photo/2019/06/02/17/33/woman-4246954_1280.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;ทคโนโลยีสารสนเทศ 2024.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-white">
                            เข้าสู่ระบบผู้ใช้งาน
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">
                        <form @click.prevent>

                            <div class="mb-2">
                                <label for="" class="form-label">อีเมลล์</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="อีเมลล์"
                                    required>
                            </div>

                            <div class="mb-2">
                                <label for="" class="form-label">รหัสผ่าน</label>
                                <input type="password" v-model="userForm.password" class="form-control"
                                    placeholder="รหัสผ่าน" required>
                            </div>

                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary btn-sm shadow">
                                    เข้าสู่ระบบสมาชิก
                                </button>
                            </div>

                        </form>
                        </p>
                        <div class="mb-2">
                            <p class="text-body text-center">
                                Allready have an account?
                                <router-link :to="{ name: 'signup' }"
                                    class="text-decoration-none font-weight-bolder">SignUp</router-link>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { reactive } from 'vue';

const userForm = reactive({
    email: "",
    password: "",
})


</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.form-label {
    font-family: 'Sarabun', sans-serif;
}

.btn {
    font-family: 'Sarabun', sans-serif;
}
</style>