<script setup>
import { RouterView } from 'vue-router';
import NavBar from './views/layouts/NavBar.vue'
import FooterView from './views/layouts/FooterView.vue';
import { useHead } from '@unhead/vue'

import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'สาขาเทคโนโลยีสารสนเทศ',
  description:'สาขาเทคโนโลยีสารสนเทศ วิทยาลัยเทคนิคตราด1'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'สาขาเทคโนโลยีสารสนเทศ',
      content:computed(()=> siteData.description)
    }
  ]
})
</script>

<template>
  <NavBar />
  <RouterView />
  <FooterView />
</template>

<style scoped>
</style>
